body {
  font-size: .875rem;
}

a {
  color: #28ABE0;
  font-weight: bold;
}

a:hover {
  color: #2491BE;
}

/*
 * Navbar
 */

 .navbar-brand {
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: 1.5rem;
  letter-spacing: 0.01em;
}

.navbar .navbar-toggler {
  top: .3rem;
  right: 1rem;
}


.nav-user {
  font-size: 13px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  padding: 0.5rem 0.9rem;
  color: #fff;
  text-decoration: none;
}


/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; 
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  padding-bottom: 20rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.accordion-button {
  background-color:#FDFDFB;
  color: #315D87;
  font-size: .9rem;
  font-weight: 500;
  padding: .65rem 1rem;
}

.buoy-name {
  color: #28ABE0;
  font-weight: bold;
}

.highlight,
.acc-highlight,
.accordion-button:hover :only-child {
  color: #d8534e;
  font-size: 1.1rem;
}

.accordion-button:hover {
  background-color: #EBEFF3;
}

.acc-item {
  scroll-margin-top: 20px;
}

.accordion-body,
.comments-input {
  color: #315D87;
  font-size: .8rem;
}

.input-group-sm>.btn, 
.input-group-sm>.form-control, 
.input-group-sm>.form-select, 
.input-group-sm>.input-group-text {
  font-size: .8rem;
}

.table-timestamp {
  font-weight: bold;
  padding-bottom: .5rem;
}

tr {
  color: #315D87;
  font-size: .8rem;
}

table tr td{
  padding: .14rem !important;
}

.table-data {
  font-weight: bold;
}

.comments-title {
  font-size: .9rem;
  font-weight: 500;
  color: #28ABE0;
}

.btn-comments {
  text-decoration: none;
}

.comments-icon {
  color: #E27E77;
}

.comments-icon:hover {
  color: #D8534E;
}

.text-muted {
  color: #638FB9 !important;
}

.form-control::-moz-placeholder {
  color: #315D87;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #315D87;
}
.form-control::-webkit-input-placeholder {
  color: #315D87;
}


/*
 * Map
 */

#map { 
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  margin: 0; 
}

.buoy-marker:hover,
.buoy-highlight > svg {
  transform: scale(1.7);
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.tooltip-buoy-text {
  text-transform: capitalize;
  font-weight: lighter;
  color: #315D87;
}

.tooltip-id {
  font-weight: bold;
  color:#d8534e;
}

/*
 * Media Queries
 */

 @media (max-width: 767px) {
  .sidebar {
    top: 5.5rem;
    padding-top: 0;
    z-index: 2000;
  }

  .sidebar-sticky {
    padding-top: 0;
  }
}

@media (max-width: 574px) {
  .navbar {
    justify-content: flex-start;
    align-items: center;
  }
}