{% extends 'buoys_app/form_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block form %}

<h4 class="card-header py-3" style="background-color: #315D87;"><img
  src="{% static 'buoys_app/images/buoy.svg' %}" alt="" width="30" height="30"
  class="d-inline-block align-text-top me-2">Sign Up</h4>
<div class="card-body">
  <form method="POST">
    {% csrf_token %}

    {{ register_form|crispy }}

    <div class="d-flex flex-wrap align-items-baseline justify-content-between pt-3">
      <div class="me-3">
        <p><small class="text-muted">
            If you already have an account, <a href="{% url 'buoys_app:login' %}">login</a> instead.
          </small></p>
        </div>
      <div>
        <a type="button" href="{% url 'buoys_app:index' %}" class="btn btn-secondary">Cancel</a>
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </div>
    </div>
  </form>
</div>
          
{% endblock %}