<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="{% static 'buoys_app/images/buoy.svg' %}">
  <title>Great Lakes Buoys</title>

  <link rel="stylesheet" href="{% static 'buoys_app/styles/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin="" />
  <link rel="stylesheet" href="{% static 'buoys_app/styles/base.css' %}">

  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>
  <script defer src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
  <script defer src="{% static 'buoys_app/scripts/app.js' %}"></script>

</head>

<body>
  <!-- top navbar -->
  <header class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow" style="background-color: #315D87;">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">
      <img src="{% static 'buoys_app/images/buoy.svg' %}" alt="" width="30" height="30"
        class="d-inline-block align-text-top">
      Great Lakes Buoys
    </a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" id="navbarScroll" type="button"
      data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span class="spacer w-100"></span>
    <div class="navbar-nav flex-md-nowrap">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3" href="#">Sign in</a>
      </div>
    </div>
  </header>

  <!-- side navbar -->
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-lg-2 col-md-3 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-1">
          <div class="d-flex flex-column">
            <div class="accordion" id="sidebar-list"></div>

              {% comment %} <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Subheading</div>
                    Content for list item
                  </div>
                  <span class="badge bg-danger rounded-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Subheading</div>
                    Content for list item
                  </div>
                  <span class="badge bg-info rounded-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Subheading</div>
                    Content for list item
                  </div>
                  <span class="badge bg-secondary rounded-pill">14</span>
                </li>
              </ul> {% endcomment %} 

          </div>
        </div>
      </nav>
    </div>
  </div>

  <!-- map -->
  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>
  <main class="col-lg-10 col-md-9 ms-sm-auto px-0">
    <div id="map"></div>

    {{ data|json_script:'data' }}

  </main>
</body>
</html>