<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="{% static 'buoys_app/images/buoy.svg' %}">
  <title>Great Lakes Buoys Status Tracker</title>
  <link rel="stylesheet" href="{% static 'buoys_app/styles/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin="" />
  <link rel="stylesheet" href="{% static 'buoys_app/styles/base.css' %}">
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script> 
  <script defer src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
  <script defer src="{% static 'buoys_app/scripts/app.js' %}"></script>
</head>

<body>
  <!-- navbar -->
  <header class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow" style="background-color: #315D87;">
    <div class="navbar-brand col-md-3 col-lg-2 me-5 px-3">
      <img src="{% static 'buoys_app/images/buoy.svg' %}" alt="" width="30" height="30" class="d-inline-block align-text-top">
      Great Lakes Buoys Status Tracker
    </div>

    <div class="d-flex">
      <button class="navbar-toggler pt-1 d-md-none border-0 collapsed" id="navbarScroll" type="button"
        data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-nav d-flex flex-row text-nowrap">
        {% if user.is_authenticated %}
          <span class="nav-user px-3" href="#">Hello, {{ user.first_name|default:'Guest' }}</span>
          <a class="nav-link px-3" href="{% url 'buoys_app:logout' %}">Logout</a>
        {% else %}
          <a class="nav-link px-3" href="{% url 'buoys_app:login' %}">Login</a>
        {% endif %}
      </div>
    </div>
  </header>

  <!-- sidebar -->
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-1">
          <div class="d-flex flex-column ">
            <div class="accordion" id="sidebar-list">
              <!-- sidebarList.innerHTML here -->
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <template class="comments-header">
    <!-- if user is logged in show comment button and input form-->
    {% if user.is_authenticated %}
      <div class="d-flex justify-content-between align-items-start pb-0">
        <div class="comments-title mb-4">Comments...</div>
        <button type="button" class="btn btn-link text-nowrap btn-comments p-0" title="add comment" data-bs-toggle="collapse" href="#collapse-input" aria-expanded="false" aria-controls="collapse-input">
          <div class="comments-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-fill" viewBox="0 0 16 16">
              <path id="path2" d="M 2 0 A 2 2 0 0 0 0 2 L 0 10 A 2 2 0 0 0 2 12 L 4.5 12 A 1 1 0 0 1 5.3007812 12.400391 L 7.1992188 14.933594 A 1 1 0 0 0 8.8007812 14.933594 L 10.699219 12.400391 A 1 1 0 0 1 11.5 12 L 14 12 A 2 2 0 0 0 16 10 L 16 2 A 2 2 0 0 0 14 0 L 2 0 z M 7.9316406 2.2363281 A 0.5 0.5 0 0 1 8.4316406 2.7363281 L 8.4316406 5.7363281 L 11.431641 5.7363281 A 0.5 0.5 0 0 1 11.431641 6.7363281 L 8.4316406 6.7363281 L 8.4316406 9.7363281 A 0.5 0.5 0 0 1 7.4316406 9.7363281 L 7.4316406 6.7363281 L 4.4316406 6.7363281 A 0.5 0.5 0 0 1 4.4316406 5.7363281 L 7.4316406 5.7363281 L 7.4316406 2.7363281 A 0.5 0.5 0 0 1 7.9316406 2.2363281 z " />
            </svg>
          </div>
        </button>
      </div>
      <div class="collapse collapse-input" id="collapse-input">
        <form action="{% url 'buoys_app:new_comment' %}" method="POST">
          {% csrf_token %}
          <div class="input-group input-group-sm align-items-start flex-nowrap">
            {{ new_comment_form|crispy }}
            <input class="btn btn-primary rounded-end btn-submit px-1 py-1" type="submit" value="+"/>
            <input class="hidden-field" type="hidden" name="buoyID"/>
          </div> 
        </form>
      </div>
    {% else %} 
      <p class="comments-title mb-3">Comments...</p>
    {% endif %}
  </template>

  <template class="comments-body">
    {% for comment in comments %}
      <span class="comments-attribute" id="attribute-{{ comment.buoy_id }}">
        <!-- add delete button if it is the user's comment -->
        {% if request.user == comment.user %}
          <div class="d-flex justify-content-between align-items-end pb-0">
            <p class="fw-bold mb-0">
              {{ comment.agency }} - {{ comment.user.first_name }}&nbsp;{{ comment.user.last_name }}
            </p>
            <a href="{% url 'buoys_app:delete_comment' comment.id %}" class="btn btn-link text-nowrap p-0 delete-icon" title="delete comment" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            </a>
          </div>
          <small class="text-muted">{{ comment.published_date }}</small>
          <p class="mb-0">{{ comment.body }}</p>
          <hr>
        {% else %}
          <p class="fw-bold mb-0">
            {{ comment.agency }} - {{ comment.user.first_name }}&nbsp;{{ comment.user.last_name }}
          </p>
          <small class="text-muted">{{ comment.published_date }}</small>
          <p class="mb-0">{{ comment.body }}</p> 
          <hr>
        {% endif %}
      </span>
    {% endfor %}
  </template>

  <!-- map -->
  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>
  <main class="col-xxl-10 col-xl-9 col-lg-9 col-md-8 ms-sm-auto px-0">
    <div id="map"></div>
    {{ data|json_script:'data' }}
  </main>
</body>
</html>